main{
    display: flex;
    align-items: flex-start;

    position: relative;
    overflow: hidden;
}
/* Contenedor principal */
.contenedor-pagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

}
/*contenedor principal*/
.contenedor-pagina img{

    width: 100%;
    height: auto;
    display: block;

}

.fondo_landing {
    opacity: .5;
}


h1{

    margin-top: 50px;

}



button{
    margin-top: 70px;
    width: 50%;
    height:70px;


}
/*texto del boton*/
button a h3{
    color: white;
}
/*responsive*/
@media (max-width: 768px) {
    button {
        width: 80%;
        height: 60px;
    }

    h1{
        font-size: 26px;
        font-weight: bold;
    }

    h3{
        font-size: 20px;
    }




}
