.guia-container {
    width: 100%;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.titulo {
    text-align: center;
}

.descripcion p {
    text-align: center;
}

.bloques {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.bloque {
    flex: 1 1 400px; /* Ancho base más pequeño */
    max-width: 400px; /* Máximo ancho fijo para que no se estiren */
    background-color: var(--blanco-1);
    border: 1px solid var(--gris-claro);
    border-radius: 10px;
    padding: 25px;
}

.bloque h2 {
    text-align: center;
    color: var(--azul-oscuro);
    margin-bottom: 20px;
}

.datos p,
.criterios li {
    margin-bottom: 12px;
}

.criterios {
    padding-left: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .bloques {
        flex-wrap: wrap; /* Permitir que bajen en pantallas pequeñas */
        gap: 20px;
        justify-content: center;
    }

    .bloque {
        max-width: 100%;
        width: 100%;
        padding: 20px;
    }
}
