/* Contenedor de las asignaturas */
.contenedor_apartados {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: var(--azul-muy-claro);
    border-bottom: 2px solid var(--azul-oscuro);
}

/* Apartado de recursos */
.recursos {
    color: var(--azul-oscuro)
}

/* Contenedor de apartados */
.contenedor_apartados ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

/* Header */
header {
    height: 70px;
    background-color: #004576;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Imagen del header */
header > a > img {
    margin: 0 30px;
}

/* Menu hamburguesa */
.menu-hamburguesa {
    display: none;
}

/* estilos del logo */
.logo {
    height: 40px;
    width: auto;
}

/* Imagen del perfil */
.user {
    height: 40px;
    width: auto;

}

/* Contenedor del header */
.header-container {
    position: relative;
}

/* Estilos del menú hamburguesa */
.menu-hamburguesa {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
    width: 35px;
    height: 25px;
}

/* Forma del menú hamburguesa */
.menu-hamburguesa .linea {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}

/* Menú hamburguesa */
.contenedor-desplegable {
    display: none;
}

/* Estilos del menú desplegable */
.menu-desplegable {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #004576;
    width: 100%;
    flex-direction: column;
    max-height: 0;
    z-index: 5;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
}

/* Menú desplegable cuando está activo */
.menu-desplegable.activo {
    max-height: 400px;
}

/* Enlaces del menú hamburguesa */
.menu-desplegable ul li a {
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #358BC9;
}

/* Ultimo enlace */
.menu-desplegable ul li:first-child a {
    border-top: 1px solid #358BC9;
}

/* Estilos de los enlaces cuando se pasa por encima */
.menu-desplegable ul li a:hover {
    background-color: #358BC9;
}

/* Media queris */
@media (max-width: 840px) {
    .contenedor_apartados ul {
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .logo {
        height: 30px;
    }

    .user,
    .contenedor_apartados {
        display: none;
    }

    .menu-hamburguesa, .contenedor-desplegable {
        display: flex;
    }

}


