main {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 100px;
}

h1 {
    margin: 1em auto;
}

.contenedor_global {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*FOTOS VISTA PREVIA DEL MÓDULO*/
.contenedor_img {
    width: 100%;
    height: 100%;
    background-color: var(--gris-claro);
    border-radius: 20px;
    margin: auto 2em;
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
}

.contenedor_img h2 {
    margin: 0 auto;
}

.contenedor_img div {
    display: flex;
    justify-content: center;
}

.contenedor_img div img{
    width: 25%;
    max-height: 100px;
    margin: 1em;
}

.contenedor_img div img:hover {
    opacity: .8;
    cursor: pointer;
}

/*CREDENCIALES NECESARIAS PARA USAR EL MÓDULO + DEMO Y COMPRAR*/
.datos_demo {
    margin: 0 2em;
}

.credenciales {
    background-color: var(--azul-no-tan-verdoso);
    border-radius: 20px;
    padding: 1em 3em;
    margin-bottom: .75em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separador li:last-child {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.credenciales li {
    list-style: none;
}

p {
    color: black;
}

.subrallado {
    text-decoration: underline;
}

.negrita {
    font-weight: bold;
}

.botones_datos {
    display: flex;
    flex-direction: column;
}

.botones_datos button {
    margin: .25em 0;
}

.btn-azul-verdoso p {
    color: white;
}


/*DESCRIPCIÓN DEL MÓDULO*/
.descripcion {
    background-color: var(--gris-claro);
    border-radius: 20px;
    padding: 1em 3em;
    margin: 0 2em;
}

/*POP-UP*/
.popup {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.popup-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 30px;
    right: 50px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 1220px ) {
    main {
        min-height: 220vh;
    }

    .contenedor_global {
        flex-direction: column;
        width: 150vw;
        align-items: center;
    }

    /*FOTOS VISTA PREVIA DEL MÓDULO*/
    .contenedor_img {
        align-items: center;
        width: 75vw;
    }

    .contenedor_img h2 {
        margin: 0;
    }

    .contenedor_img img {
        min-width: 135.94px;
        min-height: 100px;
    }

    /*CREDENCIALES NECESARIAS PARA USAR EL MÓDULO + DEMO Y COMPRAR*/
    .credenciales {
        margin-top: 10px;
        width: 250px;
    }

    .descripcion {
        width: 75vw;
    }
}

@media (width <= 655px ) {
    main {
        margin-top: 20vh;
        margin-bottom: 200px;
    }

    /*FOTOS VISTA PREVIA DEL MÓDULO*/
    .contenedor_img {
        flex-direction: column;
        width: 100vw;
    }

    /*CREDENCIALES NECESARIAS PARA USAR EL MÓDULO + DEMO Y COMPRAR*/
    .credenciales {
        margin-top: 25px;
    }

    .botones_datos {
        margin-bottom: 25px;
    }
}