
main {
    display: flex;
    align-items: center;
}

/* Estilos de la persona */
.img_persona {
    height: 40%;
    max-height: 400px;
    width: auto;
    bottom: 0px;
    right: 170px;
    position: static;
    display: none;
}

/* Estilos del contenedor del inicio de sesión */
.contenedor_inicio_sesion {
    height: auto;
    max-height: 80%;
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
    padding: 20px;
    background-color: white;
    border: 1px solid var(--gris-oscuro);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Estilos del encabezado del contenedor */
.contenedor_inicio_sesion h1 {
    margin-top: 30px;
    margin-bottom: 0px;
}

/* Estilos de los apartados de la pagina */
.contenedor_inicio_sesion ul {
    width: 70%;
    padding: 0;
}

.contenedor_inicio_sesion ul li {
    display: flex;
    flex-direction: column;
}

.contenedor_inicio_sesion ul li label {
    font-family: "Assistant", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    margin-bottom: 2px;
}

/* Estilos de los inputs */
.contenedor_inicio_sesion ul li input {
    padding: 10px;
    border: 1px solid var(--gris-oscuro);
    background-color: var(--blanco-1);
    border-radius: 5px;
}


/* Estilos del ultimo hijo */
.contenedor_inicio_sesion ul li:last-child {
    margin: 70px 0 40px 0;
}

/* Estilos del boton azul verdoso */
.btn-azul-verdoso {
    width: 60%;
    max-width: 200px;
    height: 10%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;

    position: relative;
}

/* Estilosd el contenido final */
.contenido_final {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos del enclace */
.contenido_final a {
    text-align: center;
}

.contenedor_inicio_sesion a p {
    color: black;
    padding-bottom: 10px;
    font-size: 14px;
    text-align: center;
}

.contenedor_inicio_sesion a:hover {
    text-decoration: underline var(--azul-verdoso) ;
}

.parrafo_verde {
    color: var(--azul-verdoso);
}

/* Estilos del mensaje de error */
.mensaje-error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
    visibility: hidden;
}


/* Media queris */
@media (max-width: 768px) {

    main {
        display: flex;
        justify-content: space-between;
    }

    .contenedor_inicio_sesion h1 {
        margin: 10px 0 20px 0;
    }

    .contenedor_inicio_sesion {
        display: flex;
        flex-direction: column;
        width: 60%;
        justify-content: center;
    }

    .contenedor_inicio_sesion ul li:last-child {
        margin: 30px 0;
    }

    .btn-azul-verdoso {
        margin-bottom: 5px;
    }

    .img_persona {
        display: none;
    }


}

@media(max-width: 1400px) {
    .img_persona {
        right: 100px;
        height: 35%;
    }
}

@media (max-width: 1100px) {

    .img_persona {
        height: 30%;
        right: 10px;
    }
}

@media (max-width: 620px) {
    ul li input::placeholder {
        color: transparent;
    }

}




