main {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 0;
  text-align: center;
  margin-top: 50px;
}

/*CONTENEDORES GLOBALES*/
.contenedor_catalogo {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.contenedor_catalogo ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 70px;

}

.contenedor_catalogo ul li a button {
  cursor: pointer;
}

/*SEPARADOR*/
.separador {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.separador:last-child {
  margin-bottom: 50px;
}

.separador ul:last-child {
  padding: 0;
}

/*MODULOS*/
.btn_modulo {
  border: none;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  padding: 0;
  background-size: cover;
  display: flex;
  align-items: end;
}

.btn_modulo:hover {
  transform: scale(1.1);
}

button div p {
  color: black;
}

.modulo_texto_container {
  background-color: var(--azul-no-tan-verdoso);
  width: 100%;
  height: 50px;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.btn_recursos {
  background-image: url("../../../images/catalogo_recursos.png");
}

.btn_calificaciones {
  background-image: url("../../../images/catalogo_calificaciones.png");
}

.btn_examenes {
  background-image: url("../../../images/catalogo_examenes.png");
}

.btn_anuncios {
  background-image: url("../../../images/catalogo_anuncios.png");
}

.btn_tareas {
  background-image: url("../../../images/catalogo_tareas.png");
}

.btn_correo_interno {
  background-image: url("../../../images/catalogo_correo_interno.png");
}

.btn_foros {
  background-image: url("../../../images/catalogo_foros.png");
}

.btn_videoapuntes {
  background-image: url("../../../images/catalogo_videoapuntes.png");
}

.btn_inaccesible {
  filter: grayscale(100%);
}

@media (width <= 1300px) {
  /CONTENEDORES/
  .contenedor_catalogo {
    gap: 20px;
  }

  .contenedor_catalogo ul {
    gap: 30px;
  }

  /SEPARADOR/
  .separador {
    gap: 0;
  }
}



@media (max-width: 950px) {
  /*CONTENEDORES*/
  .contenedor_catalogo {
    display: flex;
    flex-direction: column;
  }

  .contenedor_catalogo ul {
    gap: 50px;
    padding: 0;
  }

  /*SEPARADOR*/
  .separador {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /*MODULOS*/
  .btn_modulo {
    width: 150px;
    height: 150px;
  }

}

@media(max-width: 400px) {
  .contenedor_catalogo ul {
    gap: 20px;
  }

  .btn_modulo {
    width: 110px;
    height: 110px;
  }

  .modulo_texto_container {
    height: auto;
  }

  .modulo_texto_container p {
    margin: 0 0 5px 0;
  }
}